@model SpeedyWheelsRentals.Models.Reservation

@{
    ViewData["Title"] = "Edit";
}

<h1 style="font-weight: 500; font-size: 40px; text-align:center;">Edit Reservation</h1>
<body style="background-color: #FEFFFF;">
    <div style="background-color: #D9D9D9; padding: 50px; margin-bottom: 100px">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReservationId" />
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleId" class="control-label"></label>
                <select asp-for="VehicleId" class="form-control" asp-items="ViewBag.VehicleId"></select>
                <span asp-validation-for="VehicleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="@(new SelectList(ViewBag.Status, "Value", "Text"))" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" style="background-color: #3AAFA9; color: white; margin-top: 20px; padding-left: 155px; padding-right: 155px" />
            </div>
        </form>
    </div>
</div>

<div>
            <a style="text-decoration: none; color: black;" asp-action="Index">Back to List</a>
</div>
    </div>
    </body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
